@font-face {
  font-family: "iconfont"; /* Project id 5145551 */
  src: url('iconfont.woff2?t=1775920039194') format('woff2'),
       url('iconfont.woff?t=1775920039194') format('woff'),
       url('iconfont.ttf?t=1775920039194') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qita:before {
  content: "\e646";
}

.icon-lichengbei:before {
  content: "\e749";
}

.icon-beizhu:before {
  content: "\e615";
}

.icon-laiyuan:before {
  content: "\e641";
}

.icon-icon:before {
  content: "\e651";
}

.icon-yunshudidian:before {
  content: "\e606";
}

.icon-xiugaimingcheng:before {
  content: "\e64c";
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-close:before {
  content: "\e69a";
}

.icon-upload:before {
  content: "\e75d";
}

.icon-wendu:before {
  content: "\e602";
}

.icon-plus:before {
  content: "\e829";
}

.icon-share:before {
  content: "\e86e";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-riqi:before {
  content: "\e613";
}

.icon-image:before {
  content: "\e635";
}

.icon-edit:before {
  content: "\e601";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-jilu:before {
  content: "\e810";
}

.icon-heart:before {
  content: "\e64d";
}

.icon-penzai:before {
  content: "\e66a";
}

.icon-qingkong:before {
  content: "\e6f6";
}

.icon-feiliao:before {
  content: "\ecbc";
}

.icon-Scissors:before {
  content: "\e762";
}

.icon-sun:before {
  content: "\e636";
}

.icon-Water:before {
  content: "\e92e";
}

